@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-custom {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
    max-width: 1400px;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}